<!DOCTYPE html>
<html lang="en">

<head>
  {{>title}}

</head>


<body>
  <div class="main-content">
    {{>header}}
    <img class="portrait" src="./img/Peter.png" alt="" />
  </div>

  {{>footer}}

</body>

</html>