<!DOCTYPE html>
<html lang="en">

<head>
  {{>title}}
</head>

<body>
  <div class="main-content">
    {{>header}}

    <form action="">
      <input placeholder="location" type="text">
      <button>Search</button>
    </form>
    <p id="location"></p>
    <p id="weather-info"></p>

  </div>
  {{>footer}}

  <script src="/js/app.js"></script>

</body>

</html>